<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gaurav.covidvaccinationapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidVaccinationApp"
        tools:targetApi="31">
        <activity
            android:name=".HelpSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationCenterActivity"
            android:exported="false" />
        <activity
            android:name=".VaccinationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CancelBookingActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ViewBookedSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".BookSlotActivity"
            android:exported="false" />
        <activity
            android:name=".BookSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".SendNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewReportsActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteSlotActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateSlotActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".FetchUserRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".AddSlotActivity"
            android:exported="false" />
        <activity
            android:name=".CertificateDownloadActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".SlotBookingActivity" />
    </application>

</manifest>